.container{
width: 65%;
background-color: rgba(25, 200, 182, 0.63);
}

table tr td{
	text-align: right;
}


.description{
	height:200px;
	text-align: left;
}

#laborTotal{
width: 100px;
}

#table{
width: 70%;
margin: 20px 0 0 90px;
}

.invoice_from, .invoice_to{
margin: 0 0 0 50px;
}

